@use "./styles/partials/colors" as *;
@use "./styles/partials/fonts.scss" as *;
@use "./styles/mixins/mixins.scss" as *;

.landing {
    &-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 540px;
    }
    &-text__container {
        min-height: 20rem;
        margin-left: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $primary-white;
        padding: 1rem 1rem;
        @include container;
    }
    &-subtitle {
        font-size: 20px;
    }
}

.hero-img {
    width: 700px;
    margin-bottom: 5rem;
}

.span-colour {
    color: #17B585;
}

.button{
    &-container {
    margin-top: 1rem;
    width: 60%;
    display: flex;
    justify-content: space-between;
}
    &-get__started {
        border-radius: 4px;
        border: 1px solid $primary-white;
        background-color: #17B585;
        color: $primary-white;
        padding: .5rem 1rem;
        @include font-tablet-p1;
    }
    &-your__workouts {
        border-radius: 4px;
        border: 1px solid #17B585;
        background-color: #fff;
        color: #17B585;
        padding: .5rem 1rem;
        @include font-tablet-p1;
    }
}
