// PRIMARY COLORS
$primary-black: #13182C;
$primary-grey: #727375;
$primary-white: #F6F8FF;

// SECONDARY COLORS
$secondary-grey: #727375;
$secondary-cloud: #BDC5D5;

// BACKGROUND COLORS
$background-navy: #384E77;
$background-light-grey: #F7F8F9;

// SUPPORTING COLORS
$supporting-green: #158463;
$supporting-red: #C94515;