@font-face {
    font-family: "Roboto";
    src: url("../../assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@mixin font-mobile-h1 {
    font-size: 1.75rem;
    font-weight: 600;
}

@mixin font-mobile-h2 {
    font-size: 1.25rem;
    font-weight: 600;
}

@mixin font-mobile-h3 {
    font-size: 0.8125rem;
    font-weight: 600;
}

@mixin font-mobile-h4 {
    font-size: 0.6875rem;
    font-weight: 600;
}

@mixin font-mobile-p1 {
    font-size: 0.937rem;
    font-weight: 400;
}

@mixin font-mobile-p2 {
    font-size: 0.8125rem;
    font-weight: 400;
}

@mixin font-mobile-p3 {
    font-size: 0.6875rem;
    font-weight: 400;
}

@mixin font-tablet-h1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
}

@mixin font-tablet-h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

@mixin font-tablet-h3 {
    font-size: 0.875rem;
    font-weight: 600;
}

@mixin font-tablet-h4 {
    font-size: 0.75rem;
    font-weight: 600;
}

@mixin font-tablet-p1 {
    font-size: 1rem;
    font-weight: 400;
}

@mixin font-tablet-p2 {
    font-size: 0.875rem;
    font-weight: 400;
}

@mixin font-tablet-p3 {
    font-size: 0.75rem;
    font-weight: 400;
}