@use "./styles/partials/fonts.scss" as *;
// @use "./styles/mixins/minxins.scss" as *;
// @use "./styles/partials/breakpoints.scss" as *;
@use "./styles/partials/colors" as *;
* {
    background: transparent;
}

.nav {
    &-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        min-height: 8rem;
        max-width: 1480px;
        margin: 4rem auto;
        background: rgba( 255, 255, 255, 0.1 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4.5px );
        -webkit-backdrop-filter: blur( 4.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    &-link__list {
        width: 25%;
        display: flex;
        justify-content: space-between;
    }
    &-link {
        text-decoration: none;
        color: $primary-white;
        @include font-tablet-h2;
    }
    &-title {
        @include font-tablet-h1;
        color: #259F9E;
    }
    // &-subtitle__container {
    // }
}