@use "./styles/partials/fonts.scss" as *;
@use "./styles/mixins/mixins.scss" as *;
@use "./styles/partials/colors" as *;
* {
    background: transparent;
}

.nav {
    &-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        min-height: 8rem;
        max-width: 1480px;
        margin: 4rem auto;
        @include container;
    }
    &-link__list {
        width: 25%;
        display: flex;
        justify-content: space-between;
    }
    &-link {
        text-decoration: none;
        color: $primary-white;
        @include font-tablet-h2;
    }
    &-title {
        @include font-tablet-h1;
        color: #17B585;
    }
    // &-subtitle__container {
    // }
}