@use "./styles/partials/fonts.scss" as *;
// @use "./styles/mixins/minxins.scss" as *;
// @use "./styles/partials/breakpoints.scss" as *;
@use "./styles/partials/colors" as *;
* {
    background-color: $background-navy;
}

.nav {
    &-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $background-navy;
        color: $primary-white;
        border-top: 1px solid $primary-white;
        border-bottom: 1px solid $primary-white;
        width: 90%;
        min-height: 8rem;
        margin: 4rem auto;
    }
    &-link__list {
        width: 25%;
        display: flex;
        justify-content: space-between;
    }
    &-link {
        text-decoration: none;
        color: $primary-white;
        @include font-tablet-h2;
    }
    &-title {
        @include font-tablet-h1;
    }
    // &-subtitle__container {
    // }
}